<div class="modal fade" id="modal-item" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content sing-up-holder">

            <div class="sign-in-start-form sign-up relative">
                <button type="button" class="close modal-dialog--close" data-dismiss="modal">
                    <span class="icon-ic_closeDropdown"></span>
                </button>
                <div class="sign-up--cont">
                    <p class="sign-up--title">Sign up to join Giggster</p>
                    <div class="sign-up--soc">
                        <div class="form-group facebook-login-form">
                            <a href="#" class="btn btn-lg_size_lg total-width btn-fb facebook-btn">Sign in with Facebook</a>
                            <div class="has-error--text"> </div>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-lg_size_lg total-width btn-gp google_btn">Sign in with Google+</a>
                        </div>
                    </div>
                    <div>
                        <button class="show-email-sign-up btn-lg_size_lg btn-default total-width">Sign up with your email</button>
                    </div>
                    <div class="sign-up--agree">
                        <div class="sign-up--agree-text">By continuing you agree to our <a href="#/<%= GigAdmin.Router._getRouteUrl('terms') %>">Terms</a> &amp; <a href="#/<%= GigAdmin.Router._getRouteUrl('privacy') %>">Privacy Policy</a>.</div>
                    </div>
                </div>
                <div class='sign-up--log-in'><a class="show-sign-in" href="#">Sign in to your account</a></div>
            </div>

            <div class="email-sign-up  sign-up " style="display:none">
                <button type="button" class="close modal-dialog--close" data-dismiss="modal">
                    <span class="icon-ic_closeDropdown"></span>
                </button>
                <div class="sign-up--cont sign-up-form-container">
                    <form>
                        <div class="sign-up--title">Sign up with your email</div>
                        <div class="form-group">
                            <input name="sign-up-email-input" class="sign-up-email form-control " type="text" placeholder="Email" data-rule-email="true" data-rule-required="true" data-msg-required="Please provide your email address here." />
                        </div>
                        <div class="form-group">
                            <input name="sign-up-pass-input" class="sign-up-password form-control" maxlength="255" type="password" placeholder="Password" data-rule-minlength="6" data-rule-maxlength="255" data-rule-required="true" data-msg-required="Please enter your password here."/>
                            <div class="has-error--text">Error description: Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. </div>
                        </div>

                        <button class="btn-lg_size_lg btn-default total-width sign-up-btn">Sign me up!</button>
                        <div class="sign-up--agree">
                            <div class="sign-up--agree-text">By continuing you agree to our <a href="#/<%= GigAdmin.Router._getRouteUrl('terms') %>">Terms</a> &amp; <a href="#/<%= GigAdmin.Router._getRouteUrl('privacy') %>">Privacy Policy</a>.</div>
                        </div>
                    </form>
                </div>
                <div class='sign-up--log-in'><a class="show-sign-in" href="#">Sign in to your account</a></div>
            </div>

            <div class="email-sign-in sign-up relative" style="display:none">
                <button type="button" class="close modal-dialog--close" data-dismiss="modal">
                    <span class="icon-ic_closeDropdown"></span>
                </button>
                <div class="sign-up--cont">
                    <p class="sign-up--title">Welcome back</p>
                    <div class="sign-up--soc">
                        <div class="form-group facebook-login-form">
                            <a href="#"  class="btn btn-lg_size_lg total-width btn-fb facebook-btn">Sign in with Facebook</a>
                            <div class="has-error--text"> </div>
                        </div>
                        <div class="form-group" >
                            <a href="#" class="btn btn-lg_size_lg total-width btn-gp google_btn">Sign in with Google+</a>
                        </div>
                    </div>
                    <p class="sign-up--title">Or sign in with your email</p>
                    <div class="sign-in-form-container ">
                        <form>
                            <div class="form-group">
                                <input name="sign-in-email-input" class="sign-in-email form-control" type="text" placeholder="Email"  data-rule-email="true" data-rule-required="true" data-msg-required="Please provide your email address here."/>
                            </div>
                            <div class="form-group relative">
                                <input name="sign-in-pass-input" class="sign-in-password form-control" type="password" maxlength="255" placeholder="Password" data-rule-maxlength="255" data-rule-minlength="4" data-rule-required="true" data-msg-required="Please enter your password here." />
                                <a href="#" class="show-forgot-form sign-up--forgot">Forgot It</a>
                                <div class="has-error--text">Error description: Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. </div>
                            </div>
                            <button class="btn-lg_size_lg btn-default total-width sign-in-btn">Sign In</button>
                            <!--<button class="sign-up-btn btn btn-simple">Sign Up</button>-->
                        </form>
                    </div>
                    <div class="sign-up--agree">
                        <div class="sign-up--agree-text">By continuing you agree to our <a href="#/<%= GigAdmin.Router._getRouteUrl('terms') %>">Terms</a> &amp; <a href="#/<%= GigAdmin.Router._getRouteUrl('privacy') %>">Privacy Policy</a>.</div>
                    </div>
                </div>
                <div class='sign-up--sign-up'><a class="show-sign-up" href="#">Sign up with your email</a></div>
            </div>


            <div class="request-new-password sign-up relative" style="display:none">
                <button type="button" class="close modal-dialog--close" data-dismiss="modal">
                    <span class="icon-ic_closeDropdown"></span>
                </button>
                <div class="request-new-password-form-container sign-up--cont">
                    <p class="sign-up--title">I Forgot My Password!</p>
                    <p class="sign-up--text">No problem! We'll send you an email so you can quickly change your password and go back to apartment surfing.</p>
                    <div class="form-group">
                        <input name="request-newpassword-email-input" class="request-newpassword-email form-control" type="text" placeholder="What's your email?"  data-rule-email="true" data-rule-required="true" data-msg-required="Please provide your email address here."/>
                        <div class="has-error--text">Error description: Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. </div>
                    </div>
                    <div >
                        <button class="forgot-pass-btn btn-lg_size_lg btn-default total-width">Reset my password</button>
                    </div>
                </div>
            </div>

            <div class="reset-email-sent sign-up relative" style="display:none">
                <button type="button" class="close modal-dialog--close" data-dismiss="modal">
                    <span class="icon-ic_closeDropdown"></span>
                </button>
                <div class="sign-up--cont text-center">
                    <div class="sign-up--img"><img src="/images/logoForPopup.svg"></div>
                    <p class="sign-up--title sign-up--title_margin_4">Reset Email Sent!</p>
                    <p class="sign-up--text02">We just sent you a secure link to your email <b class="user-email-confirmation-message">johndoe@gmail.com</b>. It'll arrive shortly so you can make a brand new password. Check your spam folder just in case!</p>
                    <p class="sign-up--text-grey">If you haven't received your email within a few minutes and you're still having problems logging in, get in touch with us at <a href="mailto:contact@giggster.com">contact@giggster.com</a> and we'd be happy to help you out.</p>
                    <div >
                        <button class="reset-password-email-sent btn-lg_size_lg btn-default sign-up--btn">Ok</button>
                    </div>
                </div>
            </div>

            <div class="footer-small--cont clearfix" style="display:none">
                <div class="footer-small--copi">® Giggster. Made in Venice, CA <span class="footer-simple--icon icon-ic_california"></span></div>
                <div class="menu-simple">
                    <div class="menu-simple--item">
                        <a href="#" class="menu-simple--link">About</a>
                    </div>
                    <div class="menu-simple--item">
                        <a href="#" class="menu-simple--link">Terms &amp; Privacy</a>
                    </div>
                    <div class="menu-simple--item">
                        <a href="#" class="menu-simple--link">Contact Us</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>